

/* Контейнер */



.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
}



.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

/* Навігація */




/* Контакти */


         



/* Зображення */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Перша секція */
.first-section {
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/office.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.section-title-main {
    max-width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 48px;
}

.order-button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
    background-color: #404BBF;
}

/* Друга секція (Features) */
.features-section {
    padding: 120px 0;
    background-color: #fff;
}

.features-section .container {
    position: relative;
}

.features-section ul {
    display: flex;
    gap: 24px;
}

.features-section li {
    flex-basis: calc((100% - 72px) / 4);
}

.features-section li h3 {
    margin-bottom: 8px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;

}

/* Третя секція (Team) */
.team-section {
    padding: 120px 0;
    background-color: #f4f4fd;
}

.team-section h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-section ul {
    display: flex;
    gap: 24px;
}

/* Оформлення для кожного контейнера працівника */
.team-info {
    padding: 32px 0;
}

/* Оформлення заголовка (ім'я працівника) */
.team-name {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 8px;
}

/* Оформлення параграфа (посада) */
.team-role {
    text-align: center;
    font-size: 14px;
    color: #434455;
}

.social-list {
    display: flex;
    justify-content: center;
}

.social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}

.icon-name {
    fill: #f4f4fd;
}

/* Четверта секція (Portfolio) */
.additional-section {
    padding: 120px 0;
}

.additional-section h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    margin-bottom: 72px;
}

.additional-section ul {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    gap: 48px 24px;
}

.app-item {
    flex-basis: calc((100% - 2* 24px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.app-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.app-item:nth-child(4),
.app-item:nth-child(5),
.app-item:nth-child(6) {
    margin-bottom: 0;
}

.app-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.app-title {
    margin-bottom: 8px;
}

/* Footer */
.page-footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-container {
    max-width: 1158px;
    margin: 0 auto;
}

.footer-logo-text {
    max-width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.team-item {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.footer-text {
    font-weight: 500;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}

.footer-list {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.social-networks {
    width: 40px;
    height: 40px;
}


.link-footer {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer:hover,
.link-footer:focus {
    background-color: #31d0aa;
}

.text-img {
    position: absolute;
    background-color: #4d5ae5;
    color: #f4f4fd;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 300ms ease;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.img-cover-wraper {
    position: relative;
    overflow: hidden;
}

.app-item:hover .text-img {
    transform: translateY(0);
}

.footer-content {
    display: flex; 
    align-items: baseline;
}

.footer-text-logo {
    margin-right: 120px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.4);

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.backdrop:not(.is-open) .modal {
    transform: translate(-50%, -50%) scale(1.5);
}

.modal-text {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    line-height: 1.5;
    margin-bottom: 16px;
}

.form-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.input-field {
    display: flex;
    gap: 24px;

}

.label-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;

}

.label-input::placeholder {
    color: #ffffff;
}

.label-modal {
    margin-bottom: 8px;
}

.form-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

.icon-telegram {
    margin-left: 16px;
}

.modal-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    padding: 0;
    cursor: pointer;
    border: none;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
    background-color: #404bbf;
    border: none;
}

.button-close {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover>svg,
.modal-button:focus>svg {
    fill: #ffffff;
}

.modal-input:focus+.modal-icon {
    fill: #4D5AE5;
}

.modal-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;

}

.input-modal {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4D5AE5;
}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2E2F42;
}

.modal-icon:focus {
    fill: #4D5AE5;
}

.modal-coments {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 16px;
}

.modal-coments:focus {
    border-color: #4D5AE5;
}

.checkbox {
    margin-bottom: 24px;
}

.privacy {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.privacy-modal {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    border-radius: 2px;
}

.privacy-policy {
    color: #4d5ae5;
}

.modal-checkbox:checked+.privacy .checkbox-policy {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.button-enter {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-policy {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.coments {
  margin-bottom: 16px;  
}